table {
        border: 2px solid black;
        border-collapse: collapse;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        font-family: "微軟正黑體";
}
thead {
        background-color: rgb(21, 21, 21);
        color: white;
        font-weight: extra-bold;
}
td {
        background-color: rgb(234, 207, 178);
        color: black;
        border: 2px solid black;
        padding: 3px;
}
.header td {
        background-color: rgb(21, 21, 21);
        color: white;
        font-weight: extra-bold;
}